<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h1><%= @user.name %></h1>
    <h2><%= @user.name %>'s Title Orders</h2>
    <% if @user.title_orders.any? %>
      <% @user.title_orders.each do |order| %>
        <div class="title-order">
          <p>Property: <%= order.property.formatted %></p>
          <p>Buyers:</p>
          <ul>
          <% order.buyers.each do |buyer| %>
            <li><%= buyer.full_name %></li>
          <% end %>
          </ul>
          <p>Buyer's Agent: <%= order.buyers_agent.full_name %></p>
          <p>Seller's Agent: <%= order.sellers_agent.full_name %></p>
          <p><%= link_to "View order", title_order_path(order) %></p>
        </div>
      <% end %>
    <% else %>
      <h2>You don't have any title orders yet! Create one now:</h2>
      <h2><%= link_to "New Title Order", number_of_buyers_path %></h2>
    <% end %>
    <% if @user.searches.any? %>
      <h2><%= @user.name %>'s Saved Searches</h2>
      <% @user.searches.each do |search| %>
        <% unless search.search_name.blank? %>
          <p><%= link_to search.search_name, search_path(search) %></p>
        <% end %>
      <% end %>
    <% end %>
    <% if current_user.admin? && current_user != @user %>
      <p><%= link_to "Delete Profile", user_path(@user), method: :delete, data: {confirm: "Are you sure you want to delete this user?"} %>
    <% elsif current_user == @user %>
      <p><%= link_to "Delete Your Profile", current_user, method: :delete, data: {confirm: "Are you sure you want to delete your profile?"} %>
    <% end %>
	</div>
</div>