<%= form_tag(title_orders_path, method: :get) %>
<p>Search by name:</p>
<%= text_field_tag :name_search, params[:name_search], {class: 'form-control'} %>
<%= hidden_field_tag :type, params[:type] %>
<%= submit_tag "Search", class: 'btn btn-primary', name: nil %>
<%= link_to "Advanced Search", new_search_path %>