<footer class="footer">
  <div class="row">
    <nav>
      <ul>
        <li><%= link_to "About",   about_path %></li>
        <li><%= link_to "Contact", '#' %></li>
        <% if logged_in? %>
          <li><%= link_to "Log out", logout_path %></li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
    <div class='col-md-4'>
      <h2>Download our brochure</h2>
      <%= link_to image_tag('brichure.png', width: '100'), asset_path('brochure.pdf') %>
    </div>
    <div class='col-md-4'>
      <p>COPYRIGHT © OASIS TITLE COMPANY, INC. ALL RIGHTS RESERVED.


  Oasis Title Company, Inc. & Oasis Short Sales are not associated with the government, and our service is not approved by the government or your lender. Even if you accept this offer and use our service, your lender may not agree to change your loan. If you stop paying your mortgage, you could lose your home and damage your credit rating.</p>
  <%= link_to image_tag('weisberg.png'), 'http://weisberglegal.com' %>
    </div>
  </div>
</footer>